.code
.cache
.idea

# Editors.
*.sw*
.vscode
!.vscode/settings.default.json
.clangd

# Misc
*.tar.gz
*.tmp

# Build
build/
build.*/
out/
*.exe
*.pdb

# Univalue

src/defi
src/defid
src/defi-cli
src/defi-tx
src/defi-wallet
src/test/test_defi
src/test/test_defi_fuzzy
src/config/defi-config.h
src/config/defi-config.h.in
src/obj
src/univalue/gen
src/secp256k1/gen_context
src/secp256k1/src/ecmult_static_context.h

# autotools

Makefile
Makefile.in
Makefile.am.user
Makefile.test
!depends/Makefile
!src/leveldb*/Makefile

config.log
config.status
configure
configure~

aclocal.m4
autom4te.cache/
**/build-aux/config.guess
**/build-aux/config.sub
**/build-aux/depcomp
**/build-aux/install-sh
**/build-aux/ltmain.sh
**/build-aux/m4/ar-lib.m4
**/build-aux/m4/libtool.m4
**/build-aux/m4/lt~obsolete.m4
**/build-aux/m4/ltoptions.m4
**/build-aux/m4/ltsugar.m4
**/build-aux/m4/ltversion.m4
**/build-aux/missing
**/build-aux/compile
**/build-aux/test-driver

libtool
stamp-h1

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.a
*.pb.cc
*.pb.h
*.dat

*.log
*.trs
*.dmg

*.json.h
*.raw.h

# Only ignore unexpected patches
*.patch
!depends/patches/**/*.patch
!contrib/devtools/*.patch

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
background.tiff*

#lcov
*.gcno
*.gcda
/*.info
test_defi.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*

# Output from running db4 installation
db4/

# Mac
.DS_Store
*.plist
osx_volname
dist/
*.background.tiff

# VSCode extension LocalHistory
.history

# compile_commands.json
compile_commands.json

# Others

/doc/doxygen/
contrib/devtools/split-debug.sh

# CI scratch area used for tests
/ci/scratch/

# Rust local artifacts
/lib/target
*.bin

/lib/ain-contracts/**/cache
/lib/ain-contracts/**/output
