on:
  push:
    tags:
      - "!v*"
    branches:
      - master
      - staging
      - develop
      - ci/*
      - v*
  pull_request:
    branches:
      - master
      - develop
      - staging
      - ci/*
      - v*
jobs:
  
  linux:
  # We use a matrix since it's easier to migrate upwards, add new
  # test on multiple, then remove old without creating friction.
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-16.04]
    env:
      BUILD_VERSION: latest # Computed
    
    steps:
    - uses: actions/checkout@v2
    - name: Build and package
      run: TARGETS="x86_64-pc-linux-gnu" ./make.sh docker-release-git
    - name: Publish artifact - x86_64-pc-linux-gnu
      uses: actions/upload-artifact@v2-preview
      with:
        name: defichain-${{ env.BUILD_VERSION }}-x86_64-pc-linux-gnu
        path: ./build/defichain-${{ env.BUILD_VERSION }}-x86_64-pc-linux-gnu.tar.gz
  
  windows:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04]
    env:
      BUILD_VERSION: latest # Computed
    
    steps:
    - uses: actions/checkout@v2
    - name: Build and package
      run: TARGETS="x86_64-w64-mingw32" ./make.sh docker-release-git
    - name: Publish artifact - x86_64-w64-mingw32
      uses: actions/upload-artifact@v2-preview
      with:
        name: defichain-${{ env.BUILD_VERSION }}-x86_64-w64-mingw32
        path: ./build/defichain-${{ env.BUILD_VERSION }}-x86_64-w64-mingw32.tar.gz
  
  macos:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04]
    env:
      BUILD_VERSION: latest # Computed
    
    steps:
    - uses: actions/checkout@v2
    - name: Build and package
      run: TARGETS="x86_64-apple-darwin11" ./make.sh docker-release-git
    - name: Publish artifact - x86_64-apple-darwin11
      uses: actions/upload-artifact@v2-preview
      with:
        name: defichain-${{ env.BUILD_VERSION }}-x86_64-apple-darwin11
        path: ./build/defichain-${{ env.BUILD_VERSION }}-x86_64-apple-darwin11.tar.gz
