name: Lint

on:
  workflow_dispatch:
  push:
    tags:
      - "!v*"
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  unit_tests:
    name: Lint
    runs-on: ubuntu-latest
    env:
      BUILD_VERSION: latest # Computed
      GITHUB_PULL_REQUEST: ${{ github.event.number }}
      PYTHON: 3.8
      TRAVIS_BUILD_DIR: ${{ github.workspace }}
      TRAVIS_COMMIT: ${{ github.sha }}
    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Lint
      run: ./ci/lint/main.sh

    - name: Extended Lint
      run: ./ci/extended_lint/main.sh
