name: Lint

on:
  workflow_dispatch:
  push:
    tags:
      - "!v*"
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  unit_tests:
    name: Lint
    # We use a matrix since it's easier to migrate upwards, add new
    # test on multiple, then remove old without creating friction.
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    env:
      BUILD_VERSION: latest # Computed
      GITHUB_PULL_REQUEST: ${{ github.event.number }}
      PYTHON: 3.8
      TRAVIS_BUILD_DIR: ${{ github.workspace }}
      TRAVIS_COMMIT: ${{ github.sha }}
    steps:
    - name: Checkout
      uses: actions/checkout@v1

    # This script has been modified to pipe variables to GITHUB_ENV, which allows them to be
    # used by subsequent steps.
    - name: Set Env
      run: set -o errexit; source ./ci/test/00_setup_env.sh
    
    # The following scripts must be run in the same step as they reference Bash functions from
    # previous scripts, which are difficult to expose globally in Github workflows

    - name: Lint
      run: |
          set -o errexit; source ./ci/lint/04_install.sh
          set -o errexit; source ./ci/lint/06_script.sh

    - name: Extended Lint
      run: |
          set -o errexit; source ./ci/extended_lint/04_install.sh
          set -o errexit; source ./ci/extended_lint/06_script.sh
