name: Tests

on:
  workflow_dispatch:
  push:
    tags:
      - "!v*"
    branches:
      - master
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    container: defi/ain-builder:latest
    env:
      GITHUB_PULL_REQUEST: ${{ github.event.number }}
      TESTS_FAILFAST: 0
      TESTS_COMBINED_LOGS: 500
    steps:
    - name: Checkout base branch and/or merge
      if: github.event_name != 'pull_request'
      uses: actions/checkout@v2

    - name: Checkout pull request head commit
      if: github.event_name == 'pull_request'
      uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    
    - name: Populate environment
      run: ./make.sh ci-export-vars

    - name: Install dependencies
      run: ./make.sh ci-setup-deps
    
    - name: Install dependencies for target
      run: ./make.sh ci-setup-deps-target

    - uses: Swatinem/rust-cache@v2
      with:
        workspaces: lib -> ../build/lib/target
        save-if: ${{ github.ref == 'refs/heads/master' }}

    - name: Build deps and configure
      run: ./make.sh build

      # Temp. workaround: Clean up build artifacts to clear up disk space
      # or the GH runners run out
    - name: Cleanup build artifacts
      run: find build ! -name 'defid' ! -name 'defi-cli' -delete || true
      
    - name: E2E tests
      run: ./make.sh test

  rust-tests:
    runs-on: ubuntu-latest
    container: defi/ain-builder:latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Populate environment
      run: ./make.sh ci-export-vars

    - name: Setup dependencies
      run: ./make.sh ci-setup-deps

    - name: Setup dependencies for target
      run: ./make.sh ci-setup-deps-target

    - uses: Swatinem/rust-cache@v2
      with:
        workspaces: lib -> ../build/lib/target
        save-if: ${{ github.ref == 'refs/heads/master' }}

    - name: Build deps and configure
      run: ./make.sh build-deps && ./make.sh build-conf
      
    - name: Rust tests
      run: ./make.sh lib test
