name: Tests - DeFiCh/go-ethlibs

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  NODE_URL: "http://127.0.0.1:19551/"

jobs:
  build-binaries:
    runs-on: ubuntu-latest
    container: defi/ain-builder:latest
    steps:
    - uses: actions/checkout@v3

    - name: Populate environment
      run: ./make.sh ci-export-vars

    - name: Setup dependencies
      run: ./make.sh ci-setup-deps

    - name: Setup dependencies for target
      run: ./make.sh ci-setup-deps-target

    - name: Install dependencies for test
      run: ./make.sh ci-setup-deps-test

    - name: Build binaries
      run: ./make.sh build

    - name: Upload binaries
      uses: actions/upload-artifact@v3
      with:
        name: defibins
        path: |
          build/src/defid
          build/src/defi-cli
          ci/ethlibs_test/main.sh

  node-rpc-tests:
    runs-on: ubuntu-latest
    needs: build-binaries

    steps:
    - name: Download binaries
      uses: actions/download-artifact@v3
      with:
        name: defibins

    - name: Setup permissions
      run: chmod uog+x build/src/defid build/src/defi-cli build/src/defid build/src/defi-cli ci/ethlibs_test/main.sh

    - name: Setup test fixtures
      run: ./ci/ethlibs_test/main.sh

    - name: Setup Go
      uses: actions/setup-go@v3
      with:
        go-version: '^1.17.0'

    - name: Setup go-ethlibs test suites
      uses: actions/checkout@v3
      with:
        repository: 'DeFiCh/go-ethlibs'

    - name: Run EVM RPC tests
      run: go test -v ./node/rpc_meta_test.go
