name: Tests - Jellyfish

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
env:
  BUILD_VERSION: latest # Computed
  
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          repository: JellyfishSDK/jellyfish
          ref: 'main'

      - uses: actions/checkout@v3
        with:
          path: defichain

      - uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Set build version
        run: |
          cd defichain
          ./make.sh git_version

      - name: Build and package
        run: | 
          docker build -t test-build-container \
            -f ./contrib/dockerfiles/dockerhub/x86_64-pc-linux-gnu.dockerfile \ 
            defichain

      - name: Run tests
        run: |
          npm ci
          DEFICHAIN_DOCKER_IMAGE=test-build-container npm run ci:test
