name: Tests - Frontier test suite

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-binaries:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Populate environment
      run: ./make.sh ci-export-vars

    - name: Setup dependencies
      run: sudo ./make.sh ci-setup-deps

    - name: Setup dependencies for target
      run: ./make.sh ci-setup-deps-target

    - name: Install dependencies for test
      run: ./make.sh ci-setup-deps-test

    - name: Build binaries
      run: ./make.sh build

    - name: Upload binaries
      uses: actions/upload-artifact@v3
      with:
        name: defibins
        path: |
          build/src/defid

  test:
    name: Frontier tests
    runs-on: ubuntu-latest

    needs: build-binaries

    steps:
      - uses: actions/checkout@v3
        with:
          repository: Jouzo/metachain-ts-tests
          ref: 'main'

      - name: Download binaries
        uses: actions/download-artifact@v3
        with:
          name: defibins

      - name: Setup permissions
        run: |
          chmod uog+x "$(pwd)/defid"

      - uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: |
          npm install

      - name: Compiling contracts
        run: |
          npm run build

      - name: Run tests
        run: |
          DEFID="$(pwd)/defid" npm run test
