name: Tests - DeFiCh/metachain-ts-suite

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  build:
    runs-on: ubuntu-latest
    container: defi/ain-builder:latest
    env:
      CARGO_INCREMENTAL: 0

    steps:
    - uses: actions/checkout@v4
    - run: git config --global --add safe.directory '*'

    - name: Populate environment
      run: ./make.sh ci-export-vars

    - name: Setup dependencies
      run: ./make.sh ci-setup-deps

    - name: Setup user dependencies
      run: ./make.sh ci-setup-user-deps

    - name: Restore build depends
      uses: actions/cache/restore@v3
      with:
        path: ./build/depends
        key: ${{ env.TARGET }}-${{ env.BUILD_TYPE }}-depends

    - uses: Swatinem/rust-cache@v2
      with:
        workspaces: lib -> ../build/lib/target
        save-if: ${{ github.ref == 'refs/heads/master' }}

    - name: Restore cpp build
      uses: actions/cache/restore@v3
      with:
        path: ./build/src
        key: ${{ env.TARGET }}-${{ env.BUILD_TYPE }}-cpp

    - name: Restore ccache
      uses: actions/cache/restore@v3
      with:
        path: ./build/.ccache
        key: ${{ env.TARGET }}-${{ env.BUILD_TYPE }}-ccache

    - name: Build binaries
      run: ./make.sh build

    - name: Upload binaries
      uses: actions/upload-artifact@v3
      with:
        name: defi-bins
        path: build/src/defid

  test:
    name: Frontier tests
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v4
        with:
          repository: defich/metachain-ts-tests
          ref: 'main'

      - name: Download binaries
        uses: actions/download-artifact@v3
        with:
          name: defi-bins

      - name: Setup permissions
        run: |
          chmod uog+x "$(pwd)/defid"

      - uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: |
          npm install

      - name: Compiling contracts
        run: |
          npm run build

      - name: Run tests
        run: |
          DEFID="$(pwd)/defid" npm run test
